In [2]:
import pandas as pd

data1=pd.read_csv("newtest.csv")
data1

    S.N.               Name  Contact No.  Year             Address
0      1     Mohit Tripathi   8887331179   2nd           Prayagraj
1      2        Jay Narayan   9511493970   3rd           Sultanpur
2      3           Aman Pal   9151503447   2nd             Jaunpur
3      4         Nikhil Rai   9305080327   2nd  Maunath Bhajan Mau
4      5       Sonush Kumar   8400716124   2nd          Shajahapur
5      6        Vivek Kumar   9151480914   3rd           Sonbhadra
6      7      Pranshu Dubey   8707037056   2nd            Mirzapur
7      8       Vishal Kumar   8273730104   3rd            Bareilly
8      9       Sujeet Kumar   9565256344   2nd              Ballia
9     10        Niraj Kumar   7310362981   NaN              Ballia
10    11        Mohit Yadav   9721334026   2nd      Ambedkar Nagar
11    12   Himanshu Katiyar   9897515619   2nd            Bareilly
12    13       Mayank Singh   8960959096   NaN         RaeBareilly
13    14       Shivam Kumar   8102375878   3rd               Patna
14    15  Kishan Raghuvansh   7451099204   2nd     Khitaura Badaun
15    16       Aditya Kumar   7645071129   2nd          Gaya Bihar
16    17         Farman Ali   9027969463  4rth            Bareilly
17    18              Arpit   8853029377   2nd             Jaunpur
18    19        Laki Sharma   8267968235   2nd         TiliyaKhata
19    20     Utkarsh Sharma   7317762256   2nd         Shajahanpur
20    21              Akash   7398558431   NaN                 Mau
21    22       Vikash Yadav   8115514548  4rth              Ballia
22    23         Ashu Yadav   8115191992   2nd                 Mau
23    24            Shivraj   8409108148   2nd                 Mau
24    25      Karan Bhrdwaj   9795590870  4rth          Farukhabad
25    26        Anuj Gautam   8601097943   2nd              Kanpur
26    27        Ankit Kumar   7817895076  4rth            Bareilly
27    28        Arjun Singh   9389454010   2nd            Bareilly
28    29   Prince Prajapati   7800170358   3rd           Gorakhpur

In [4]:
data1.replace(to_replace="2nd",value="4rth")
# data1.replace("2nd","4rth")

    S.N.               Name  Contact No.  Year             Address
0      1     Mohit Tripathi   8887331179  4rth           Prayagraj
1      2        Jay Narayan   9511493970   3rd           Sultanpur
2      3           Aman Pal   9151503447  4rth             Jaunpur
3      4         Nikhil Rai   9305080327  4rth  Maunath Bhajan Mau
4      5       Sonush Kumar   8400716124  4rth          Shajahapur
5      6        Vivek Kumar   9151480914   3rd           Sonbhadra
6      7      Pranshu Dubey   8707037056  4rth            Mirzapur
7      8       Vishal Kumar   8273730104   3rd            Bareilly
8      9       Sujeet Kumar   9565256344  4rth              Ballia
9     10        Niraj Kumar   7310362981   NaN              Ballia
10    11        Mohit Yadav   9721334026  4rth      Ambedkar Nagar
11    12   Himanshu Katiyar   9897515619  4rth            Bareilly
12    13       Mayank Singh   8960959096   NaN         RaeBareilly
13    14       Shivam Kumar   8102375878   3rd               Patna
14    15  Kishan Raghuvansh   7451099204  4rth     Khitaura Badaun
15    16       Aditya Kumar   7645071129  4rth          Gaya Bihar
16    17         Farman Ali   9027969463  4rth            Bareilly
17    18              Arpit   8853029377  4rth             Jaunpur
18    19        Laki Sharma   8267968235  4rth         TiliyaKhata
19    20     Utkarsh Sharma   7317762256  4rth         Shajahanpur
20    21              Akash   7398558431   NaN                 Mau
21    22       Vikash Yadav   8115514548  4rth              Ballia
22    23         Ashu Yadav   8115191992  4rth                 Mau
23    24            Shivraj   8409108148  4rth                 Mau
24    25      Karan Bhrdwaj   9795590870  4rth          Farukhabad
25    26        Anuj Gautam   8601097943  4rth              Kanpur
26    27        Ankit Kumar   7817895076  4rth            Bareilly
27    28        Arjun Singh   9389454010  4rth            Bareilly
28    29   Prince Prajapati   7800170358   3rd           Gorakhpur

In [6]:
data1.replace([1,2,3,4,5,6,7,9,22],455)
# data1.replace("2nd",5)

    S.N.               Name  Contact No.  Year             Address
0    455     Mohit Tripathi   8887331179   2nd           Prayagraj
1    455        Jay Narayan   9511493970   3rd           Sultanpur
2    455           Aman Pal   9151503447   2nd             Jaunpur
3    455         Nikhil Rai   9305080327   2nd  Maunath Bhajan Mau
4    455       Sonush Kumar   8400716124   2nd          Shajahapur
5    455        Vivek Kumar   9151480914   3rd           Sonbhadra
6    455      Pranshu Dubey   8707037056   2nd            Mirzapur
7      8       Vishal Kumar   8273730104   3rd            Bareilly
8    455       Sujeet Kumar   9565256344   2nd              Ballia
9     10        Niraj Kumar   7310362981   NaN              Ballia
10    11        Mohit Yadav   9721334026   2nd      Ambedkar Nagar
11    12   Himanshu Katiyar   9897515619   2nd            Bareilly
12    13       Mayank Singh   8960959096   NaN         RaeBareilly
13    14       Shivam Kumar   8102375878   3rd               Patna
14    15  Kishan Raghuvansh   7451099204   2nd     Khitaura Badaun
15    16       Aditya Kumar   7645071129   2nd          Gaya Bihar
16    17         Farman Ali   9027969463  4rth            Bareilly
17    18              Arpit   8853029377   2nd             Jaunpur
18    19        Laki Sharma   8267968235   2nd         TiliyaKhata
19    20     Utkarsh Sharma   7317762256   2nd         Shajahanpur
20    21              Akash   7398558431   NaN                 Mau
21   455       Vikash Yadav   8115514548  4rth              Ballia
22    23         Ashu Yadav   8115191992   2nd                 Mau
23    24            Shivraj   8409108148   2nd                 Mau
24    25      Karan Bhrdwaj   9795590870  4rth          Farukhabad
25    26        Anuj Gautam   8601097943   2nd              Kanpur
26    27        Ankit Kumar   7817895076  4rth            Bareilly
27    28        Arjun Singh   9389454010   2nd            Bareilly
28    29   Prince Prajapati   7800170358   3rd           Gorakhpur

In [ ]:
# data1.replace("[A-Za-z]","Python",regex=True)
# data1.replace("[A-F]","panda",regex=True)
# data1.replace("[A-Fa-z]","panda",regex=True)
data1.replace("[0-9]","panda",regex=True)

    S.N.               Name  Contact No.      Year             Address
0      1     Mohit Tripathi   8887331179   pandand           Prayagraj
1      2        Jay Narayan   9511493970   pandard           Sultanpur
2      3           Aman Pal   9151503447   pandand             Jaunpur
3      4         Nikhil Rai   9305080327   pandand  Maunath Bhajan Mau
4      5       Sonush Kumar   8400716124   pandand          Shajahapur
5      6        Vivek Kumar   9151480914   pandard           Sonbhadra
6      7      Pranshu Dubey   8707037056   pandand            Mirzapur
7      8       Vishal Kumar   8273730104   pandard            Bareilly
8      9       Sujeet Kumar   9565256344   pandand              Ballia
9     10        Niraj Kumar   7310362981       NaN              Ballia
10    11        Mohit Yadav   9721334026   pandand      Ambedkar Nagar
11    12   Himanshu Katiyar   9897515619   pandand            Bareilly
12    13       Mayank Singh   8960959096       NaN         RaeBareilly
13    14       Shivam Kumar   8102375878   pandard               Patna
14    15  Kishan Raghuvansh   7451099204   pandand     Khitaura Badaun
15    16       Aditya Kumar   7645071129   pandand          Gaya Bihar
16    17         Farman Ali   9027969463  pandarth            Bareilly
17    18              Arpit   8853029377   pandand             Jaunpur
18    19        Laki Sharma   8267968235   pandand         TiliyaKhata
19    20     Utkarsh Sharma   7317762256   pandand         Shajahanpur
20    21              Akash   7398558431       NaN                 Mau
21    22       Vikash Yadav   8115514548  pandarth              Ballia
22    23         Ashu Yadav   8115191992   pandand                 Mau
23    24            Shivraj   8409108148   pandand                 Mau
24    25      Karan Bhrdwaj   9795590870  pandarth          Farukhabad
25    26        Anuj Gautam   8601097943   pandand              Kanpur
26    27        Ankit Kumar   7817895076  pandarth            Bareilly
27    28        Arjun Singh   9389454010   pandand            Bareilly
28    29   Prince Prajapati   7800170358   pandard           Gorakhpur

In [10]:
data1.replace({"Year":"2nd"},56,regex=True)

    S.N.               Name  Contact No.  Year             Address
0      1     Mohit Tripathi   8887331179    56           Prayagraj
1      2        Jay Narayan   9511493970   3rd           Sultanpur
2      3           Aman Pal   9151503447    56             Jaunpur
3      4         Nikhil Rai   9305080327    56  Maunath Bhajan Mau
4      5       Sonush Kumar   8400716124    56          Shajahapur
5      6        Vivek Kumar   9151480914   3rd           Sonbhadra
6      7      Pranshu Dubey   8707037056    56            Mirzapur
7      8       Vishal Kumar   8273730104   3rd            Bareilly
8      9       Sujeet Kumar   9565256344    56              Ballia
9     10        Niraj Kumar   7310362981   NaN              Ballia
10    11        Mohit Yadav   9721334026    56      Ambedkar Nagar
11    12   Himanshu Katiyar   9897515619    56            Bareilly
12    13       Mayank Singh   8960959096   NaN         RaeBareilly
13    14       Shivam Kumar   8102375878   3rd               Patna
14    15  Kishan Raghuvansh   7451099204    56     Khitaura Badaun
15    16       Aditya Kumar   7645071129    56          Gaya Bihar
16    17         Farman Ali   9027969463  4rth            Bareilly
17    18              Arpit   8853029377    56             Jaunpur
18    19        Laki Sharma   8267968235    56         TiliyaKhata
19    20     Utkarsh Sharma   7317762256    56         Shajahanpur
20    21              Akash   7398558431   NaN                 Mau
21    22       Vikash Yadav   8115514548  4rth              Ballia
22    23         Ashu Yadav   8115191992    56                 Mau
23    24            Shivraj   8409108148    56                 Mau
24    25      Karan Bhrdwaj   9795590870  4rth          Farukhabad
25    26        Anuj Gautam   8601097943    56              Kanpur
26    27        Ankit Kumar   7817895076  4rth            Bareilly
27    28        Arjun Singh   9389454010    56            Bareilly
28    29   Prince Prajapati   7800170358   3rd           Gorakhpur

In [ ]:
# data1.replace("Mau",method="ffill")
# data1.replace("Mau",method="ffill",limit=1)
# data1.replace("Mau",method="ffill",limit=1,inplace=True) # changes original data 
# data1.replace("Mau",method="bfill",limit=1)

C:\Users\pc\AppData\Local\Temp\ipykernel_8840\3355486583.py:4: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  data1.replace("Mau",method="bfill",limit=1)

    S.N.               Name  Contact No.  Year             Address
0      1     Mohit Tripathi   8887331179   2nd           Prayagraj
1      2        Jay Narayan   9511493970   3rd           Sultanpur
2      3           Aman Pal   9151503447   2nd             Jaunpur
3      4         Nikhil Rai   9305080327   2nd  Maunath Bhajan Mau
4      5       Sonush Kumar   8400716124   2nd          Shajahapur
5      6        Vivek Kumar   9151480914   3rd           Sonbhadra
6      7      Pranshu Dubey   8707037056   2nd            Mirzapur
7      8       Vishal Kumar   8273730104   3rd            Bareilly
8      9       Sujeet Kumar   9565256344   2nd              Ballia
9     10        Niraj Kumar   7310362981   NaN              Ballia
10    11        Mohit Yadav   9721334026   2nd      Ambedkar Nagar
11    12   Himanshu Katiyar   9897515619   2nd            Bareilly
12    13       Mayank Singh   8960959096   NaN         RaeBareilly
13    14       Shivam Kumar   8102375878   3rd               Patna
14    15  Kishan Raghuvansh   7451099204   2nd     Khitaura Badaun
15    16       Aditya Kumar   7645071129   2nd          Gaya Bihar
16    17         Farman Ali   9027969463  4rth            Bareilly
17    18              Arpit   8853029377   2nd             Jaunpur
18    19        Laki Sharma   8267968235   2nd         TiliyaKhata
19    20     Utkarsh Sharma   7317762256   2nd         Shajahanpur
20    21              Akash   7398558431   NaN              Ballia
21    22       Vikash Yadav   8115514548  4rth              Ballia
22    23         Ashu Yadav   8115191992   2nd                 Mau
23    24            Shivraj   8409108148   2nd          Farukhabad
24    25      Karan Bhrdwaj   9795590870  4rth          Farukhabad
25    26        Anuj Gautam   8601097943   2nd              Kanpur
26    27        Ankit Kumar   7817895076  4rth            Bareilly
27    28        Arjun Singh   9389454010   2nd            Bareilly
28    29   Prince Prajapati   7800170358   3rd           Gorakhpur

In [15]:
import pandas as pd

data1=pd.read_csv("newtest2.csv")
data1

,S.N.,Name,Contact No.,Year,Address,Price Winner
0,1,Mohit Tripathi,8.887331e+09,2nd,Prayagraj,NaN
1,2,Jay Narayan,9.511494e+09,3rd,Sultanpur,3000.0
2,3,Aman Pal,9.151503e+09,2nd,Jaunpur,4000.0
3,4,Nikhil Rai,9.305080e+09,2nd,Maunath Bhajan Mau,5000.0
4,5,Sonush Kumar,8.400716e+09,2nd,Shajahapur,6000.0
5,6,Vivek Kumar,9.151481e+09,3rd,Sonbhadra,7000.0
6,7,Pranshu Dubey,8.707037e+09,2nd,Mirzapur,NaN
7,8,NaN,8.273730e+09,3rd,Bareilly,NaN
8,9,NaN,9.565256e+09,2nd,Ballia,3000.0
9,10,NaN,7.310363e+09,NaN,Ballia,4000.0
10,11,NaN,NaN,2nd,Ambedkar Nagar,5000.0
11,12,NaN,NaN,2nd,Bareilly,NaN
12,13,NaN,NaN,NaN,RaeBareilly,NaN
13,14,Shivam Kumar,NaN,3rd,Patna,2000.0
14,15,Kishan Raghuvansh,NaN,2nd,Khitaura Badaun,3000.0
15,16,Aditya Kumar,7.645071e+09,2nd,Gaya Bihar,4000.0
16,17,Farman Ali,9.027969e+09,4rth,Bareilly,5000.0
17,18,Arpit,8.853029e+09,2nd,Jaunpur,NaN
18,19,Laki Sharma,8.267968e+09,2nd,TiliyaKhata,NaN
19,20,Utkarsh Sharma,7.317762e+09,2nd,Shajahanpur,NaN
20,21,NaN,7.398558e+09,NaN,Mau,NaN
21,22,NaN,8.115515e+09,4rth,Ballia,NaN
22,23,NaN,8.115192e+09,2nd,Mau,2000.0
23,24,Shivraj,8.409108e+09,2nd,Mau,3000.0
24,25,Karan Bhrdwaj,9.795591e+09,4rth,Farukhabad,4000.0
25,26,Anuj Gautam,8.601098e+09,2nd,Kanpur,5000.0
26,27,Ankit Kumar,7.817895e+09,4rth,Bareilly,6000.0
27,28,Arjun Singh,9.389454e+09,2nd,Bareilly,7000.0
28,29,Prince Prajapati,7.800170e+09,3rd,Gorakhpur,8000.0

In [16]:
# data1.infer_objects(copy=False)
data1.interpolate()

C:\Users\pc\AppData\Local\Temp\ipykernel_8840\961704715.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data1.interpolate()

,S.N.,Name,Contact No.,Year,Address,Price Winner
0,1,Mohit Tripathi,8.887331e+09,2nd,Prayagraj,NaN
1,2,Jay Narayan,9.511494e+09,3rd,Sultanpur,3000.000000
2,3,Aman Pal,9.151503e+09,2nd,Jaunpur,4000.000000
3,4,Nikhil Rai,9.305080e+09,2nd,Maunath Bhajan Mau,5000.000000
4,5,Sonush Kumar,8.400716e+09,2nd,Shajahapur,6000.000000
5,6,Vivek Kumar,9.151481e+09,3rd,Sonbhadra,7000.000000
6,7,Pranshu Dubey,8.707037e+09,2nd,Mirzapur,5666.666667
7,8,NaN,8.273730e+09,3rd,Bareilly,4333.333333
8,9,NaN,9.565256e+09,2nd,Ballia,3000.000000
9,10,NaN,7.310363e+09,NaN,Ballia,4000.000000
10,11,NaN,7.366148e+09,2nd,Ambedkar Nagar,5000.000000
11,12,NaN,7.421932e+09,2nd,Bareilly,4000.000000
12,13,NaN,7.477717e+09,NaN,RaeBareilly,3000.000000
13,14,Shivam Kumar,7.533502e+09,3rd,Patna,2000.000000
14,15,Kishan Raghuvansh,7.589286e+09,2nd,Khitaura Badaun,3000.000000
15,16,Aditya Kumar,7.645071e+09,2nd,Gaya Bihar,4000.000000
16,17,Farman Ali,9.027969e+09,4rth,Bareilly,5000.000000
17,18,Arpit,8.853029e+09,2nd,Jaunpur,4500.000000
18,19,Laki Sharma,8.267968e+09,2nd,TiliyaKhata,4000.000000
19,20,Utkarsh Sharma,7.317762e+09,2nd,Shajahanpur,3500.000000
20,21,NaN,7.398558e+09,NaN,Mau,3000.000000
21,22,NaN,8.115515e+09,4rth,Ballia,2500.000000
22,23,NaN,8.115192e+09,2nd,Mau,2000.000000
23,24,Shivraj,8.409108e+09,2nd,Mau,3000.000000
24,25,Karan Bhrdwaj,9.795591e+09,4rth,Farukhabad,4000.000000
25,26,Anuj Gautam,8.601098e+09,2nd,Kanpur,5000.000000
26,27,Ankit Kumar,7.817895e+09,4rth,Bareilly,6000.000000
27,28,Arjun Singh,9.389454e+09,2nd,Bareilly,7000.000000
28,29,Prince Prajapati,7.800170e+09,3rd,Gorakhpur,8000.000000

In [ ]:

# data1.interpolate(method="index")
# data1.interpolate(method="index",axis=0)
# data1.interpolate(method="index",limit=4)

C:\Users\pc\AppData\Local\Temp\ipykernel_8840\3139555867.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data1.interpolate(method="index",limit=4)

,S.N.,Name,Contact No.,Year,Address,Price Winner
0,1,Mohit Tripathi,8.887331e+09,2nd,Prayagraj,NaN
1,2,Jay Narayan,9.511494e+09,3rd,Sultanpur,3000.000000
2,3,Aman Pal,9.151503e+09,2nd,Jaunpur,4000.000000
3,4,Nikhil Rai,9.305080e+09,2nd,Maunath Bhajan Mau,5000.000000
4,5,Sonush Kumar,8.400716e+09,2nd,Shajahapur,6000.000000
5,6,Vivek Kumar,9.151481e+09,3rd,Sonbhadra,7000.000000
6,7,Pranshu Dubey,8.707037e+09,2nd,Mirzapur,5666.666667
7,8,NaN,8.273730e+09,3rd,Bareilly,4333.333333
8,9,NaN,9.565256e+09,2nd,Ballia,3000.000000
9,10,NaN,7.310363e+09,NaN,Ballia,4000.000000
10,11,NaN,7.366148e+09,2nd,Ambedkar Nagar,5000.000000
11,12,NaN,7.421932e+09,2nd,Bareilly,4000.000000
12,13,NaN,7.477717e+09,NaN,RaeBareilly,3000.000000
13,14,Shivam Kumar,7.533502e+09,3rd,Patna,2000.000000
14,15,Kishan Raghuvansh,NaN,2nd,Khitaura Badaun,3000.000000
15,16,Aditya Kumar,7.645071e+09,2nd,Gaya Bihar,4000.000000
16,17,Farman Ali,9.027969e+09,4rth,Bareilly,5000.000000
17,18,Arpit,8.853029e+09,2nd,Jaunpur,4500.000000
18,19,Laki Sharma,8.267968e+09,2nd,TiliyaKhata,4000.000000
19,20,Utkarsh Sharma,7.317762e+09,2nd,Shajahanpur,3500.000000
20,21,NaN,7.398558e+09,NaN,Mau,3000.000000
21,22,NaN,8.115515e+09,4rth,Ballia,NaN
22,23,NaN,8.115192e+09,2nd,Mau,2000.000000
23,24,Shivraj,8.409108e+09,2nd,Mau,3000.000000
24,25,Karan Bhrdwaj,9.795591e+09,4rth,Farukhabad,4000.000000
25,26,Anuj Gautam,8.601098e+09,2nd,Kanpur,5000.000000
26,27,Ankit Kumar,7.817895e+09,4rth,Bareilly,6000.000000
27,28,Arjun Singh,9.389454e+09,2nd,Bareilly,7000.000000
28,29,Prince Prajapati,7.800170e+09,3rd,Gorakhpur,8000.000000

In [29]:
import pandas as pd

data1=pd.read_csv("newtest2.csv")
data1
# data1.interpolate(method="index",limit=2,limit_direction="backward")
# data1.interpolate(method="index",limit=2,limit_direction="both")
# data1.interpolate(limit_area="inside")
data1.interpolate(limit_area="outside")

C:\Users\pc\AppData\Local\Temp\ipykernel_8840\4236446850.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data1.interpolate(limit_area="outside")

,S.N.,Name,Contact No.,Year,Address,Price Winner
0,1,Mohit Tripathi,8.887331e+09,2nd,Prayagraj,NaN
1,2,Jay Narayan,9.511494e+09,3rd,Sultanpur,3000.0
2,3,Aman Pal,9.151503e+09,2nd,Jaunpur,4000.0
3,4,Nikhil Rai,9.305080e+09,2nd,Maunath Bhajan Mau,5000.0
4,5,Sonush Kumar,8.400716e+09,2nd,Shajahapur,6000.0
5,6,Vivek Kumar,9.151481e+09,3rd,Sonbhadra,7000.0
6,7,Pranshu Dubey,8.707037e+09,2nd,Mirzapur,NaN
7,8,NaN,8.273730e+09,3rd,Bareilly,NaN
8,9,NaN,9.565256e+09,2nd,Ballia,3000.0
9,10,NaN,7.310363e+09,NaN,Ballia,4000.0
10,11,NaN,NaN,2nd,Ambedkar Nagar,5000.0
11,12,NaN,NaN,2nd,Bareilly,NaN
12,13,NaN,NaN,NaN,RaeBareilly,NaN
13,14,Shivam Kumar,NaN,3rd,Patna,2000.0
14,15,Kishan Raghuvansh,NaN,2nd,Khitaura Badaun,3000.0
15,16,Aditya Kumar,7.645071e+09,2nd,Gaya Bihar,4000.0
16,17,Farman Ali,9.027969e+09,4rth,Bareilly,5000.0
17,18,Arpit,8.853029e+09,2nd,Jaunpur,NaN
18,19,Laki Sharma,8.267968e+09,2nd,TiliyaKhata,NaN
19,20,Utkarsh Sharma,7.317762e+09,2nd,Shajahanpur,NaN
20,21,NaN,7.398558e+09,NaN,Mau,NaN
21,22,NaN,8.115515e+09,4rth,Ballia,NaN
22,23,NaN,8.115192e+09,2nd,Mau,2000.0
23,24,Shivraj,8.409108e+09,2nd,Mau,3000.0
24,25,Karan Bhrdwaj,9.795591e+09,4rth,Farukhabad,4000.0
25,26,Anuj Gautam,8.601098e+09,2nd,Kanpur,5000.0
26,27,Ankit Kumar,7.817895e+09,4rth,Bareilly,6000.0
27,28,Arjun Singh,9.389454e+09,2nd,Bareilly,7000.0
28,29,Prince Prajapati,7.800170e+09,3rd,Gorakhpur,8000.0